extends ./layout/index 

block slider 
    .slider 
        h1 Rio de Janeiro
        em aventura

block contenido
    main.container.my-5 
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quam culpa adipisci velit molestiae at. Aut, distinctio suscipit. Voluptates distinctio nostrum sed aliquid officiis, commodi alias sequi iste laudantium odit? Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quam culpa adipisci velit molestiae at. Aut, 
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut quam culpa adipisci velit molestiae at. Aut, distinctio suscipit. Voluptates distinctio nostrum sed aliquid officiis, commodi alias sequi  
                
            .col-md-6
                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros" class="img-fluid")
        
        include ./layout/bloque_viajes
    
    .descuento 
        .container 
            .row 
                .col-ms-6 
                    .contenido 
                        h3 5% de Descuento
                        p.titulo Viaje a Canada
                        p.fecha 20 Febrero 2024 - 10 de Abril 2024
                        p.precio $2.500 USD


    .container 
        h2.mt-5.text-center Testimoniales
        include ./layout/bloque_testimoniales
        

