extends ./layout/index 

block contenido
    main.container.my-5 
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="imagen nosotros", class="img-fluid")
            .col-md-7
                h1= pagina                

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eget ipsum vitae ipsum aliquet scelerisque. Cras consequat, lacus scelerisque mollis aliquet, elit dui feugiat justo, non ultricies dolor lorem ac elit. Nulla blandit augue lorem, nec posuere felis tristique ac. Aenean cursus eros at augue dapibus, nec consectetur urna ultrices. Donec ultrices congue iaculis. Pellentesque elementum, metus interdum suscipit vestibulum. 

                p Sed magna tellus, venenatis eu convallis sed, laoreet nec felis. Nunc volutpat libero quis justo consectetur, eu ornare velit aliquam. Nulla a est finibus, mollis magna ut, ultricies lectus. Curabitur non laoreet lacus. Quisque eu vehicula lacus. Quisque non aliquam arcu. Quisque id urna eu nisi blandit dapibus. Phasellus ornare fermentum lacus, eu malesuada diam dapibus in.

                p Duis id dapibus massa. Nunc commodo laoreet lectus ac consectetur. Pellentesque imperdiet est tincidunt metus vestibulum egestas. Nam sed risus sed nisl consectetur imperdiet. Aliquam pharetra a ligula auctor viverra. Duis eu leo lobortis, viverra ligula nec, faucibus odio. Curabitur a risus aliquam         
    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4 
                    img(src="img/icono_seguridad.svg", alt="icono seguridad" class="img-fluid mb-4")
                    h2.mb-4 Seguridad 

                    p  Aliquam pharetra a ligula auctor viverra. Duis eu leo lobortis, viverra ligula nec, faucibus odio. Curabitur a risus     aliquam, laoreet mi a, tincidunt sapien. Proin faucibus convallis pellentesque. Suspendisse potenti. Donec molestie mauris vitae elit faucibus.

                .col-md-4 
                    img(src="img/icono_destinos.svg", alt="icono destino" class="img-fluid mb-4")
                    h2.mb-4 Mejores Destino

                    p  Aliquam pharetra a ligula auctor viverra. Duis eu leo lobortis, viverra ligula nec, faucibus odio. Curabitur a risus     aliquam, laoreet mi a, tincidunt sapien. Proin faucibus convallis pellentesque. Suspendisse potenti. Donec molestie mauris vitae elit faucibus.

                .col-md-4 
                    img(src="img/icono_precios.svg", alt="icono prescios" class="img-fluid mb-4")
                    h2.mb-4 Mejores Precios

                    p  Aliquam pharetra a ligula auctor viverra. Duis eu leo lobortis, viverra ligula nec, faucibus odio. Curabitur a risus     aliquam, laoreet mi a, tincidunt sapien. Proin faucibus convallis pellentesque. Suspendisse potenti. Donec molestie mauris vitae elit faucibus.